<app-titulo [content]="'Eventos'" ></app-titulo>
<div class="form-inline ">
  <div class="form-group mb-2 ">
    <input type="text" class="form-control-sm mr-2" placeholder="Buscar" [(ngModel)]="listFilter">
  </div>
</div>

<H3>{{listFilter}}</H3>
<table class="table table-striped">
  <thead class="bg-dark align-middle">
  <tr>
    <th>
      <button class="btn btn-outline-dark btn-sm" (click)="changeState()">
        <i class="{{showImage ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>{{showImage ? "Hide" : "Show"}}
      </button>
    </th>
    <th>#</th>
    <th>Theme</th>
    <th>Local</th>
    <th>Data</th>
    <th>People Amount</th>
    <th>Lot</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody *ngIf="events && events.length" class=" align-middle">

  <tr *ngFor="let evento of filteredEvents">
    <td>

      <img [collapse]=!showImage [isAnimated]="true" src="/assets/{{evento.imgURL}}" [style.width.px]="widthImage"
           [style.margin.px]="margin" alt="">
    </td>
    <td>{{evento.id}}</td>
    <td>{{evento.theme}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.date | dateTimeFormat}}</td>
    <td>{{evento.numberOfPeoples}}</td>
    <td>1</td>
    <td>
      <button type="button" class="btn btn-outline-info btn-sm rm-3" style="margin-right: 3px" tooltip="Edit"
              (click)="openModal(template)"><i
        class=" fa fa-edit
      "></i></button>
      <button type="button" class="btn btn-outline-danger btn-sm " tooltip="Delete" (click)="openModal(template)"><i
        class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
  <tfoot *ngIf="! events">
  <tr>
    <td class="text-center">EVENTS NOT FOUND</td>
  </tr>
  </tfoot>
</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>
